name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bin/pygen
            bin/install.sh
